.TextEditor {
  width: 500px;
  height: 500px;
  padding: 50px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__textArea {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 10px;
    margin-top: 10px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}